<div class="main">
    <p> DC Comics</p>

    <div class="t1" >
            <img src="assets/images/4.JPG" height="150" width="150"  />
            <p style="text-align:center;">Joker</p>
    </div>
    <div class="t1">
            <img src="assets/images/5.JPG" height="150" width="150"  />
            <p style="text-align:center;">Flash</p>
    </div>
    <div class="t1">
            <img src="assets/images/6.JPG" height="150" width="150"  />
            <p style="text-align:center;">Aquaman</p>
    </div>
    
    </div>