<div class="main">
    <p>Marvel</p>
    <div class="t1" >
        <img src="assets/images/1.JPG" height="150" width="150"  />
        <p style="text-align:center;">Captain </p>
    </div>
    <div class="t1">
        <img src="assets/images/2.JPG" height="150" width="150"  />
        <p style="text-align:center;">Thor</p>
    </div>
    <div class="t1">
        <img src="assets/images/3.JPG" height="150" width="150"  />
        <p style="text-align:center;">Ant man</p>
    </div>
    
    </div>